@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes orbital{
  from {
    transform: perspective(1000px) rotateX(-13deg) rotateY(0deg);
  } to {
    transform: perspective(1000px) rotateX(-13deg) rotateY(360deg);
  }
}

